@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.d-flex {
    display: flex;
}

.d-prop {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.w100 {
    width: 100%;
}



.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}


.card1 {
    background-color: #F5F5F6;
    padding: 30px 39px 44px 33px;
    border-radius: 10px;
    overflow: auto;
}

.heading {
    color: #1E0E62;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    margin-bottom: 41px;
    font-weight: 700;

}

.text {
    color: #1E0E62;
    font-family: "Inconsolata", sans-serif;
    font-size: 16px;
    line-height: 22px;

}

.svg-box {
    display: flex;
}

.title {
    margin-left: 18px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #1E0E62;
    font-weight: 700;
}

.card2 {
    margin-top: 30.2px;
}

.para {
    max-width: 185px;
    line-height: 26px;
    color: #A1A1B0;
    margin-top: 16px;
}

button {
   
    margin-top: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 2px solid #EBEAED;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #1E0E62;
    padding: 10px 20px;
    float: right;
}

/* =====================================Responsive code======================================= */

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

@media (min-width:992px) {
    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:992px) {
    .col-lg-9 {
        width: 75%;
        padding-left: 12px;
        padding-right: 12px;
    }
}